{% extends 'base.html.twig' %}

{% block body %}
<div class="card bg-light mb-3">
  <div class="card-header"><span class="icon mdi mdi-account"></span> Profiel</div>
  <div class="card-body">
    <h5 class="card-title">{{ data.givenName }} {{ data.surname }}</h5>
    <p class="card-text">
    	<p class="text-muted font-13"><strong>Email:</strong> <span class="m-l-15">{{ data.mail }}</span></p>
		<p class="text-muted font-13"><strong>Weergavenaam:</strong><span class="m-l-15">{{ data.displayName }}</span></p>
  </div>
</div>{% endblock %}
